{% extends "webradius/base.html" %}
{% load i18n %}
{% block extrahead %}
{% include "utils/datatables.html" with colsort=1 sorttype='asc' %}
{{form.media}}
{% endblock %}
{% block titlepage %} {% trans "NASs" %} {% endblock %}
{% block titlepageicon %} <div class="dhcpicon"> &nbsp; </div>  {% endblock %}
{% block content %}
 
<br/>
<a href="{% url "webradius:nas_add" %}" class="button gray"> {% trans "Adicionar NAS" %} </a> &nbsp;
<br/>
<br/>

{% include "utils/form_info.html" with form=form %}
<form id="formsearch" class="formx" method="post" accept-charset="utf-8">
  {% csrf_token %}
  <div class="add_title_sub"> &nbsp; {% trans "Consulta" %}</div>
  <div class="add_content_sub" >
	<fieldset>
	  {% include "utils/form_style.html" with form=form %}
	</fieldset>
	<input type="hidden" name="submited_form" value="1"/>
    <input type="submit" class="button blue" value="{% trans "Consultar" %}" />
  </div>
</form>


<table class="tablelist display">
    <thead>
        <tr>
            <th>{% trans "Nome" %} </th>
            <th>{% trans "DNS ou IP" %}</th>
            <th>{% trans "Descrição" %}</th>
            <th>{% trans "Tipo" %}</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url "webradius:nas_detail" object.pk %}">{{ object.shortname }}</a></td>

            <td>{{ object.nasname }}</td>
            <td>{{ object.description|default_if_none:"" }}</td>
            <td>{{ object.type }}</td>

            <td> <a href="{% url "webradius:nas_edit" object.pk %}" class="edit">&nbsp;</a>  </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}