{% load i18n %}

{% if form.errors %}
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 10px;"> 
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
			<strong> {% trans "Por favor, corrija os erros abaixo." %}</strong></p>
		    <br/>
			{% for field in form %}
			   {% if field.errors %}
			    <strong> {{ field.label }} </strong> &nbsp;
			    <span class="fielderror"> 
				   {% for error in field.errors %} {{ error|safe }} &nbsp; {% endfor %} 
				</span> <br/>
			    {% endif %}
			{% endfor %}
		</div>
	</div>
	<br/>
{% endif %}